.content {
  background-color: #fff;
  max-width: 800px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
}

.control{
  margin-bottom: 1.5em;
}

.btn-primary {
  margin: 20px 5px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.24);

}
h1 {
  margin: 5px 0px 25px 5px;
}

body {
background-color: #ffcccc6b;
}

label {
  float: left;
  display: block;
}

input {
  clear: left;
  display: block;
  border:none;
  border-bottom: 1px solid #d1d1d1;
  width: 30% ;
  padding: 3px;
}

select {
  border:none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  padding: 1px;
}

textarea {
  clear: left;
  display: block;
  border: 1px solid #d1d1d1;
  width: 100% ;
  padding: 8px;
}

#result {
  display: none;
}

.mojisu {
  float: left;
  text-align: right;
  margin-left: 30px;
}


#calendar {
  max-width: 400px  ;
}
